# keep your static/public!
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
.git
.DS_Store

# build outputs we don't want as inputs
.nuxt
.output
dist

# envs (but keep example)
.env
.env.* 
!.env.example
